.top{
	background-color: #336699;
	height: 50px;
	overflow: auto;
}
h1 {
	font-family: 'Crete Round', serif;
	font-weight: bold;
	color: #000;
	font-size: 30px;

}
.topleft{
	font-family: 'Crete Round', serif;
	font-weight: bold;
	height: 30px;
	padding: 10px 10px;
	color: #000;
	font-size: 30px;
	padding-left: 60px;
}
.pos{
	position: absolute;
	height: 30px;
	padding-left: 300px;
	margin-top: -23px;
}
.button-0 {
    position: absolute;
		padding: 5px 40px;
	 margin: 0px 10px 10px 0px;

		float: right;
    border-radius: 10px;
    font-family: 'Helvetica', cursive;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.button-0:hover,
.button-0:focus {
    text-decoration: none;
    color: #fff;
}

.button-0:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
.button1{
	position: absolute;
	height: 30px;
	padding-left: 1232px;
	margin-top: -25px;
}
